@import url(../font/css/all.css);

.container {
  display: grid;
  border: 1px solid rgb(0, 0, 0, 0.2);
  grid-template-columns: 48% 6% 48%;
  grid-template-rows: 1fr;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.box1 {
  height: 100%;
  width: 100%;
}

.box1 div {
  height: 30px;
  padding: 10px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  vertical-align: middle;
}

.fb-button {
  background-color: #4f7dbd;
}

.google-button {
  background-color: #e24b2e;
}

.twitter-button {
  background-color: #64cdf1;
}

.logo {
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  margin-right: 10px;
  padding-right: 15px;
}

.box2 {
  position: relative;
}
.box2:after {
  content: "";
  position: absolute;
  right: 0;
  border-right: 1px solid #cfc7c0;
  top: 10%;
  bottom: 10%;
}

.box3 {
}

.box4 {
  text-align: end;
  background-color: #63ccf3;
}

.box5 {
  position: relative;
}
.box5:after {
  content: "";
  position: absolute;
  right: 0;
  border-right: 1px solid #cfc7c0;
  top: 10%;
  bottom: 10%;
}

.box6 {
  font-weight: bold;
  background-color: #63ccf3;
}
