@import url(../font/css/all.css);

.container {
  background-color: #fcfcfc;
  display: grid;
  border: 1px solid rgb(0, 0, 0, 0.2);
  grid-template-columns: 47% 6% 47%;
  grid-template-rows: 1fr;
  width: 500px;
  height: 260px;
  margin: 10% auto;
}

/* Upper Left Box */

.box1 div {
  height: 25px;
  padding: 10px;
  margin: 25px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: white;
}

/* Buttons Layout */
.fb-button,
.google-button,
.twitter-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Buttons bg_color */
.fb-button {
  background-color: #4f7dbd;
}

.google-button {
  background-color: #e24b2e;
}

.twitter-button {
  background-color: #64cdf1;
}

/* Icons on the Buttons */

.logo {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  width: 10px;
  margin: 0 10px;
  padding-right: 15px;
}

/* Vertical Line Divider */
.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.2);
  color: rgb(0, 0, 0, 0.2);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
  z-index: 1;
}

.box2 .long-line {
  background-color: rgb(0, 0, 0, 0.2);
  height: 180px;
  width: 1px;
  transform: translate(-14px, -2%);
  z-index: 0;
  margin: 0;
}

/* Upper Right Box - Form Field*/

/* Sign In */
h1 {
  margin-top: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #4d4a5b;
}

/* Text Fields */

.text-container {
  border-bottom: 1px rgb(0, 0, 0, 0.2) solid;
  margin: 20px 10px;
}
.text-container input {
  border: none;
  background-color: transparent;
  width: 80%;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 550;
}

input:focus {
  outline: none;
}

.form-logo {
  color: #4d4a5b;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* Remember Me Section */
.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-me p {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #4d4a5b;
}

button {
  height: 30px;
  width: 80px;
  background-color: #64b1ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

/* Footer */

a {
  text-decoration: none;
  color: #58a4df;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
.box4 {
  background-color: rgba(173, 216, 230, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
}

.box5 {
  background-color: rgba(173, 216, 230, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box5 .short-line {
  transform: translate(-1px, 1%);
  background-color: rgb(0, 0, 0, 0.2);
  height: 12px;
  width: 1px;
}

.box6 {
  background-color: rgba(173, 216, 230, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
